/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
  background-color: #666
  padding: 20px;
  margin-bottom: 20px;
}

#left {
  background-color: #666;
  float: left;
  padding: 20px;
  margin-bottom: 20px;
  margin:0 auto;
  
}

#middle {
  background-color: #888;
  float: middle;
  padding: 20px;
  margin-bottom: 20px;
}

#right {
  background-color: #666;
  float: right;
  padding: 20px;
  margin-bottom: 20px;
}

#full {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

#division {
  background-color: #6ea3da
  padding: 20px;
  margin-bottom: 20px;
}

aside {
  background-color: #fff;
  float: left;
  padding: 20px;
  margin-bottom: 20px;
  
}

footer {
  background-color: #ccc;
  float: bottom;
  padding: 20px;
  
}
